.lista-categorias {
    width: 100%;
    box-sizing: border-box;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

.lista-categorias__categoria {
    font-weight: var(--fonte-peso-categorias);
    background-color: var(--cor-contraste-claro);
    border-radius: 3rem;
    padding: 1rem;
}

.lista-categorias__categoria--bem-estar {
    color: var(--cor-contraste-claro);
    background-color: var(--cor-categoria-bem-estar);
}

.lista-categorias__categoria--comportamento {
    color: var(--cor-contraste-claro);
    background-color: var(--cor-categoria-comportamento);
}

